body {
  font-family: apple-system, Arial, sans-serif;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.banner {
  background-color: rgb(244, 244, 244);
  color: rgb(23, 26, 32);
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.banner .learn-more {
  border: 0;
  border-bottom: rgb(23, 26, 32);
  color: rgb(23, 26, 32);
}

.section {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}

.section h1,
.section h2,
.section h4 {
  color: white;
  text-align: center;
}

.section h1 {
  font-size: 56px;
  font-weight: 500;
  line-height: 56px;
}

.section h2 {
  font-size: 35px;
  font-weight: 500;
  line-height: 35px;
  text-decoration: underline;
}

.section h4 {
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
}

.button-list button {
  background-color: white;
  border: none;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 5px;
  color: #393c41;
  font-weight: 500;
  margin-left: 10px;
}

.section-one {
  background-image: url("images/image-1-two-cars.avif");
}

.section-one .header {
  display: flex;
  justify-content: space-between;
}

.section-one .header a {
  color: white;
  text-decoration: none;
}

.section-one .header .icon-svg {
  block-size: 15px;
  color: white;
}

.section-one .header .account-icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.section-one .header .account-icons a {
  width: 24px;
  height: 24px;
}

.section-one .header .nav-menu {
  display: flex;
  gap: 30px;
}

.section-one .section-content {
  justify-self: center;
  margin-top: 70px;
}

.section-two {
  height: 90vh;
  background-image: url("images/image-2-model-y.avif");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: center;
}

.section-two .section-content {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  gap: 10px;
}

.section-two .section-content h1 {
  margin-bottom: 0px;
}

.section-two .section-content h2, .section-two .section-content h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.section-two .primary-button {
  background-color: #3e6ae1;
  color: white;
}

